<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="text-center" style="margin: 30px">Login Form</h2>

    <script th:if="${session.loginError}" th:inline="javascript">
        alert('로그인에 실패했습니다. 이메일과 비밀번호를 확인해주세요.');
    </script>


    <form th:action="@{/login-process}" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control"/>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">로그인</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='/signup'">Sign Up</button>

        </div>

        <a href="/oauth2/authorization/google" class="btn btn-success btn-block active" role="button">
            구글로 로그인</a>
    </form>
</div>
</body>
</html>
