<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Room</title>
    <script>

        let memberId;
        function fetchMyInfo() {
            fetch('/api/members')
                .then(response => response.json())
                .then(data => {
                    memberId = data.data.id;
                    let userInfo = document.getElementById('user-info');
                    userInfo.innerHTML = `
                        <p>ID: ${memberId}</p>
                        <p>Name: ${data.data.name}</p>
                        <p>Email: ${data.data.email}</p>
                    `;

                    fetchMyPosts();
                    fetchMyComments();
                });
        }

        function fetchMyPosts(page = 0) {
            fetch(`/api/members/${memberId}/posts?page=${page}`)
                .then(response => response.json())
                .then(data => {
                    let postTable = document.getElementById('post-table');
                    postTable.innerHTML = `
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Posted At</th>
                            <th>Writer Name</th>
                            <th>Delete</th>
                        </tr>
                    `;
                    data.content.forEach(post => {
                        let row = document.createElement('tr');

                        let idCell = document.createElement('td');
                        idCell.innerText = post.id;
                        row.appendChild(idCell);

                        let titleCell = document.createElement('td');
                        titleCell.innerText = post.title;
                        titleCell.style.cursor = "pointer";
                        titleCell.onclick = () => showPostDetail(post.id);
                        row.appendChild(titleCell);

                        let contentCell = document.createElement('td');
                        contentCell.innerText = post.content;
                        row.appendChild(contentCell);

                        let postedAtCell = document.createElement('td');
                        postedAtCell.innerText = new Date(post.postedAt).toLocaleString();
                        row.appendChild(postedAtCell);

                        let writerCell = document.createElement('td');
                        writerCell.innerText = post.writerName;
                        row.appendChild(writerCell);

                        let deleteCell = document.createElement('td');
                        let deleteButton = document.createElement('button');
                        deleteButton.innerText = 'X';
                        deleteButton.onclick = () => deletePost(data.data.id, post.id);
                        deleteCell.appendChild(deleteButton);
                        row.appendChild(deleteCell);

                        postTable.appendChild(row);
                    });

                    let pagination = document.getElementById('posts-pagination');
                    pagination.innerHTML = '';
                    for (let i = 0; i < data.total_pages; i++) {
                        let button = document.createElement('button');
                        button.innerText = i + 1;
                        button.onclick = () => {
                            fetchMyPosts(i);
                            window.localStorage.setItem('currentPostsPage', i);
                        };
                        if(i === data.current_page) {
                            button.style.backgroundColor = "#aaa";
                        }
                        pagination.appendChild(button);
                    }
                });
        }

        function fetchMyComments(page = 0) {
            fetch(`/api/members/${memberId}/comments?page=${page}`)
                .then(response => response.json())
                .then(data => {
                    let commentTable = document.getElementById('comment-table');
                    commentTable.innerHTML = `
                        <tr>
                            <th>ID</th>
                            <th>Content</th>
                            <th>Commented At</th>
                            <th>Writer Name</th>
                            <th>Delete</th>
                        </tr>
                    `;
                    data.content.forEach(comment => {
                        let row = document.createElement('tr');

                        let idCell = document.createElement('td');
                        idCell.innerText = comment.id;
                        row.appendChild(idCell);

                        let contentCell = document.createElement('td');
                        contentCell.innerText = comment.content;
                        row.appendChild(contentCell);

                        let commentedAtCell = document.createElement('td');
                        commentedAtCell.innerText = new Date(comment.commentedAt).toLocaleString();
                        row.appendChild(commentedAtCell);

                        let writerCell = document.createElement('td');
                        writerCell.innerText = comment.writerName;
                        row.appendChild(writerCell);

                        let deleteCell = document.createElement('td');
                        let deleteButton = document.createElement('button');
                        deleteButton.innerText = 'X';
                        deleteButton.onclick = () => deleteComment(data.data.id, comment.id);
                        deleteCell.appendChild(deleteButton);
                        row.appendChild(deleteCell);

                        commentTable.appendChild(row);
                    });

                    let pagination = document.getElementById('comments-pagination');
                    pagination.innerHTML = '';
                    for (let i = 0; i < data.total_pages; i++) {
                        let button = document.createElement('button');
                        button.innerText = i + 1;
                        button.onclick = () => {
                            fetchMyComments(i);
                            window.localStorage.setItem('currentCommentsPage', i);
                        };
                        if(i === data.current_page) {
                            button.style.backgroundColor = "#aaa";
                        }
                        pagination.appendChild(button);
                    }
                });
        }

        function deletePost(postId) {
            fetch(`/api/members/${memberId}/posts/${postId}`, {
                method: 'DELETE'
            })
                .then(() => {
                    fetchMyInfo();
                });
        }

        function deleteComment(commentId) {
            fetch(`/api/members/${memberId}/comments/${commentId}`, {
                method: 'DELETE'
            })
                .then(() => {
                    fetchMyInfo();
                });
        }

        function showPostDetail(postId) {
            window.location.href = `/postDetail?postId=${postId}`;
        }

        window.onload = () => {
            fetchMyInfo();
            let savedPostsPage = window.localStorage.getItem('currentPostsPage');
            if(savedPostsPage !== null) {
                fetchMyPosts(parseInt(savedPostsPage));
            } else {
                fetchMyPosts();
            }
            let savedCommentsPage = window.localStorage.getItem('currentCommentsPage');
            if(savedCommentsPage !== null) {
                fetchMyComments(parseInt(savedCommentsPage));
            } else {
                fetchMyComments();
            }
        };
    </script>
</head>
<body>
<h1>My Room</h1>
<div id="user-info"></div>
<h2>My Posts</h2>
<table id="post-table"></table>
<nav id="posts-pagination"></nav>
<h2>My Comments</h2>
<table id="comment-table"></table>
<nav id="comments-pagination"></nav>
</body>
</html>
