<!--글 목록 View-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple Board</title>
    <script>
        function fetchPosts(page = 0) {
            fetch(`/api/posts?page=${page}`)
                .then(response => response.json())
                .then(data => {
                    let postsTable = document.getElementById('posts-table');
                    postsTable.innerHTML = `
                        <tr>
                            <th>ID</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>Posted At</th>
                        </tr>`;
                    data.content.forEach(post => {
                        let row = document.createElement('tr');

                        let idCell = document.createElement('td');
                        idCell.innerText = post.id;
                        row.appendChild(idCell);

                        let titleCell = document.createElement('td');
                        titleCell.innerText = post.title;
                        // 클릭시 게시글로 이동
                        titleCell.style.cursor = "pointer"; // Change cursor style when hovering
                        titleCell.onclick = () => showPostDetail(post.id);
                        row.appendChild(titleCell);

                        let authorCell = document.createElement('td');
                        authorCell.innerText = post.writerName;
                        row.appendChild(authorCell);

                        let postedAtCell = document.createElement('td');
                        postedAtCell.innerText = new Date(post.postedAt).toLocaleString();
                        row.appendChild(postedAtCell);

                        postsTable.appendChild(row);
                    });

                    let pagination = document.getElementById('pagination');
                    pagination.innerHTML = '';
                    for (let i = 0; i < data.total_pages; i++) {   // 수정된 부분
                        let button = document.createElement('button');
                        button.innerText = i + 1;
                        button.onclick = () => {
                            fetchPosts(i);
                            window.localStorage.setItem('currentPage', i);
                        };
                        if(i === data.current_page) { // 수정된 부분
                            button.style.backgroundColor = "#aaa"; // Change color of button
                        }
                        pagination.appendChild(button);
                    }


                });
        }

        window.onload = () => {
            let savedPage = window.localStorage.getItem('currentPage');
            if(savedPage !== null) {
                fetchPosts(parseInt(savedPage)); // localStorage에서 가져온 값을 정수로 변환
            } else {
                fetchPosts();
            }
            fetchPosts();
            fetch('/api/members')
                .then(response => response.json())
                .then(data => {
                    let currentUser = document.getElementById('current-user');
                    currentUser.innerText = `Current User: ${data.data.email} (NickName : ${data.data.name})`;
                });
        };

        function logout() {
            fetch('/api/logout', {
                method: 'POST'
            })
                .then(() => {
                    window.location.href = '/login';
                });
        }

        function goToPosting() {
            window.location.href = '/posting';
        }
        function goToMyRoom() {
            window.location.href = '/myRoom';
        }

        function showPostDetail(postId) {
            window.location.href = `/postDetail?postId=${postId}`;
        }


    </script>
</head>
<body>
<h1>Posts</h1>
<div>
    <p id="current-user"></p>
    <button onclick="logout()">로그아웃</button>
    <button onclick="goToPosting()">새 글 쓰기</button>
    <button onclick="goToMyRoom()">마이룸</button>
</div>
<div>
    <table id="posts-table">
    </table>
</div>
<div>
    <nav id="pagination">
    </nav>
</div>
</body>
</html>
